<hr class="colorgraph">
      <% societies.each do |society|%>
        <div class="row">
             
            <div class="col-lg-7 col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/data/clubImage/club.jpg" alt="">
                </a>
            </div>
            
            <div class="col-lg-5 col-md-5">
                <h3><%= society.name %></h3>
                <h4><small>This club is affiliated by UMSU</small></h4>
                <p class="text-primary">Curious? Want to know more? Want to get involve? Visit <a href="<%=society.website%>"> our web pages</a> for more information</p>
                <p><%=truncate(society.description, length: 200){link_to "Continue", society_path(:id=>society.id)}%><p>
                <%= link_to 'More >>', society, class: "btn btn-primary"%>
                <%if session[:user_id]==society.user_id %>
                 <%= link_to 'Edit', edit_society_path(society), class: 'btn btn-primary'  %>
                
                <%end%>
            </div>

        </div>


        <hr class="colorgraph">
        <%end%>

        
