<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Regnum:</strong>
  <%= @society.regNum %>
</p>

<p>
  <strong>Website:</strong>
  <%= @society.website %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @society.approved %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
