<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= meta_description %>">
  <meta name="author" content="<%= meta_author %>">
  <meta name="Keywords" content="<%= meta_keywords %>">

  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <%= yield :head %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <a href="#Top"></a>

</head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to site_name, site_url, :class => "navbar-brand" %>
      </div>
             <div class="navbar-collapse collapse">
             <%if authenticate_user %>
             
             <div class="navbar-text navbar-right">
             <p >Welcome <%=@current_user.name%>,    <%=link_to "Log out", logout_path%></p>
             </div>
              <%else%>
              <div class= 'navbar-form navbar-right'>
                      <%= form_for :session, :url=>{:controller=> 'sessions', :action => 'login_attempt'},  role: 'form' do |f| %>
                        <div class="form-group">
                          <%= f.text_field :username_or_email, placeholder: 'User name or Email', class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
                        </div>
                        <%= f.submit :LogIn, class: "btn btn-success" %>
                        <%=link_to "Sign up", new_path%>
                         <% if flash[:error] %>
                         <p class="error"><%= flash[:error] %></p>
                         <% end %>
                        <%end%>
                  </div>
                <%end%>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if current_page?(events_path) %>"><%= link_to "Event", events_path %></li>
          <li class="<%= 'active' if current_page?(societies_path) %>"><%= link_to "Society", societies_path %></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
  
<div class="container">




  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
  <%= yield %>
  </div><!--/span-->
  
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

            

 <%= form_tag(search_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        
        <div class="form-group">
        <%= text_field_tag :search, params[:search], class: "span2", class: 'form-control', placeholder: "Enter Keywords" %>
        </div>
        <hr>
        <!-- Search for Events Hosted by -->
        <div class="form-group">
        <%= select_tag :search_type, options_for_select(['Search for Events', 'Search for Societies'], params[:search_type]), class: 'form-control' %>
      </div>
      <hr>
      <div class="form-group">
        <button class="btn" type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
      </div>
      
  <% end %>
        
          </div><!--/span-->
        </div><!--/row-->

  <hr>
  <footer>
    
      <p class="pull-right">
        <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
      </p>
      <p>
        &copy; <%= Time.now.year %> <%= site_name %> 
        &bull;
        <%= link_to "Privacy", privacy_path %></li>
        &bull;
        <%= link_to "Terms", terms_path %></li>
      </p>
    </footer>
  </div> <!-- /container -->
</body>
</html>